.border-top {
  border-top: 1px solid #e5e5e5;
}
.image_cart_size {
  width: 180px;
  /* height: 190px; */
}
.qButton {
  background-color: transparent;
  border: 1px solid black;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.cart-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  border: 1px solid black;
  height: 45px;
}
.cart-type:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}
.cartPageText {
  font-size: 30px;
}
.cartPageBrand {
  font-weight: 600;
}
.cartPageName {
  font-weight: 500;
}
.cart_price {
  font-size: 24px;
  font-weight: 700;
}
.empty {
  font-size: 40px;
}
.remove-btn {
  background-color: rgb(221, 50, 50);
  border: none;
  font-size: 16px;
  height: 35px;
  cursor: pointer;
  color: white;
}
